{% extends 'students/base.html' %}
{% block content %}
<h2>Lista de Estudiantes</h2>

<form method="get" action="">
  <input type="text" name="q" placeholder="Buscar estudiante..." value="{{ q }}">
  <button type="submit">Buscar</button>
  {% if q %}
    <a href="{% url 'student_list' %}">Limpiar</a>
  {% endif %}
</form>

<a href="{% url 'student_create' %}">➕ Nuevo Estudiante</a>

<ul>
  {% for s in students %}
    <li>
      {{ s.nombre }} {{ s.apellido }} - {{ s.carrera }}
      <a href="{% url 'student_update' s.id %}">Editar</a>
      <a href="{% url 'student_delete' s.id %}">Eliminar</a>
    </li>
  {% empty %}
    <li>No se encontraron estudiantes</li>
  {% endfor %}
</ul>
{% endblock %}